@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background-color: #424242;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

h1 {
  font-size: 2em;
}

@media only screen and (min-width: 768px) {
  h1 {
  font-size: 5em;
}
}